
#footer-section {
  
  text-align: center;
  padding: 1rem;
  background: black;


  a {
  color: #b9b3ff;
  text-decoration: none;
  font-weight: 600;

  &:hover {
  color: white;
  // text-decoration: underline;
}
}



}