* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

html, body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body{
  background-image: url(../assets/images/main-bk.png);
    background-position: center;
    // background-repeat: no-repeat;
    background-size: cover;

}

// Anchor reset
a {
  text-decoration: none;
  color: inherit;
}

// Flexbox Mixin
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


#main{
    height: 100%;
    width: 100%;
    
@import 'navbar';
@import 'hero';
@import 'footer';


}

