#navbar {
  width: 100%;
  height: 4.2rem;
  padding: 0 2rem 0  0 ;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  background: rgba(10, 12, 18, 0.65);
  backdrop-filter: blur(0.8rem);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);

  .nav-logo {
    img {
      width: 100%;
      height: 5rem;
      object-fit: cover;
    }
  }

  .nav-items {
    display: flex;
    // align-items: center;
    gap: 2rem;

    h3 {
      font-size: 0.9rem;
      font-weight: 700;

      a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.7);
        transition: 0.2s ease;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  .nav-hamburger {
    display: none;
    font-size: 1.4rem;
    cursor: pointer;
    background: transparent;
    border: none;
    color: white;
  }
}

/* MOBILE DROPDOWN */
.nav-mobile {
  width: 100%;
  display: none;

  position: absolute;
  top: 4.3rem;
  left: 0;
  z-index: 99;

  background: rgba(10, 12, 18, 0.95);
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);

  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 1.2rem 0;

  h3 {
    font-size: 0.8rem;
    font-weight: 500;

    a {
      text-decoration: none;
      color: rgba(255, 255, 255, 0.8);

      &:hover {
        color: white;
      }
    }
  }

  &.active {
    display: flex;
  }
}

// media query

@media (max-width: 768px) {
  #navbar {
      .nav-items {
      display: none;
    }

    .nav-hamburger {
      display: block;
    }
  }
}